<div class="container col-sm-12 col-md-10 col-lg-7">
  <div class="card">
    <div class="card-header" *ngFor="let info of personalInfo">
      <h4>{{info.name}}'s card</h4>
    </div>
    <img class="card-img-top" src="../../assets/profile/profile.jpg">
    <div class="card-body">
      <div *ngFor="let info of personalInfo">
        <h5 class="card-text">Name:  {{info.name}}</h5>
        <h5 class="card-text">Job title:  {{info.title}}</h5>
        <h5 class="card-text">Address:  {{info.address}}</h5>
        <h5 class="card-text">Email:  {{info.email}}</h5>
        <span><a href="https://{{info.facebook}}"><img class="icon facebook" src="../../assets/profile/facebook.png" alt=""></a></span>
        <span><a href="https://{{info.instagram}}"><img class="icon twitter" src="../../assets/profile/twitter.png" alt=""></a></span>
      </div>
    </div>
    <hr>
    <div class="card-body">
      <h5 class="card-title">Location</h5>
      <div id="map" class="col" #gmap style="height:250px;">
    </div>


</div>
</div>
</div>

<div>
  <a href=""><input type="button" class="button" value="Go back"></a>
</div>




