.container{
    display: flex;
    justify-content: center;
}
.card{
    border: 0;
    background: linear-gradient(135deg,#29323C,#2B5876,#4E4376);  
}
.card-body{
    color: whtie;
}
.card-text{
    font-weight: 500;
    line-height: 1.7;
}
.icon.facebook{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
span{
    margin-top: 2em;
}
.icon.twitter{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
a{
    text-decoration: none;
}
input.button {
    margin-top: 3em;
    border: 0;
    font-size: 14pt;
    padding:1em 3em;
    background: #1A2239;
    color:rgb(255, 255, 255);
    margin-bottom:7em;
    cursor:pointer;
}