<div class="container">
  <div class="card">
    <img class="card-img-top" src="../../assets/profile/profile.jpg">
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5> -->
      <h5 class="card-text" *ngFor="let info of personalInfo"> {{info}}</h5>
      <span><a href="#"><img class="icon" src="../../assets/profile/facebook.png" alt=""></a></span>
      <span><a href="#"><img class="icon" src="../../assets/profile/twitter.png" alt=""></a></span>
    </div>
    <hr>
    <div class="card-body">
      <h5 class="card-title">Location</h5>
      <div id="map" class="col" #gmap style="height:250px;">
    </div>
  </div>
</div>

