/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background:
    linear-gradient(rgba(12, 27, 35, 0.65), rgba(12, 27, 35, 0.65)),
    url("../src/assets/profile/background1.jpg");
    background-size: cover;
    padding-top: 3em;
    font-family: 'Raleway', 'Arial';
    color:#fff;
    text-align: center;
}
footer{
    background:black; 
    width:100%; 
    padding: 2em;
}
