<div class="animated fadeIn container color-light col-sm-12 col-md-10 col-lg-7">
  <form class="form-group" #form="ngForm" name="form">
    <h1 class="">Create your profile card</h1>
    <div class="centered">
      <p class="text">Personal Info (Required)</p>
      <input type="text" class="text" name="name" placeholder="Full name" [(ngModel)] = "name" required>
      <input type="text" class="text" name="title" placeholder="Job title" [(ngModel)] = "title" required >
      <input type="text" class="text" name="address" placeholder="Full address" [(ngModel)] = "address" required >
      <input type="email" class="text" name="email" ngModel [email]="true" placeholder="Email" [(ngModel)] = "email" required >
      <p class="text">Social Media (Optional)</p>
      <input type="url" class="text" name="social" placeholder="Facebook URL" [(ngModel)]="facebook">
      <input type="url" class="text" name="twitter" placeholder="Twitter URL" [(ngModel)] = "twitter">
      <div>
        <input [disabled]="!form.valid" type="submit" routerLink ="profile" value="Text" class="button" value="Create Profile" (click)="addItem()">
      </div>
    </div>
  </form>
</div>