<div class="container color-light">
  <form class="" #form="ngForm">
    <h1>Create your profile card</h1>
    <div class="centered">
      <input type="text" class="text" name="name" placeholder="Full name" [(ngModel)] = "name">
      <input type="text" class="text" name="title" placeholder="Job title" [(ngModel)] = "title">
      <input type="text" class="text" name="address" placeholder="Full address" [(ngModel)] = "address">
      <!-- <input type="text" class="text" name="province" placeholder="Province" [(ngModel)] = "province"> -->
      <input type="email" class="text" name="email" placeholder="Email" [(ngModel)] = "email">
      <p class="text">Social Media</p>
      <input type="url" class="text" name="social" placeholder="Facebook URL" [(ngModel)]="facebook">
      <input type="url" class="text" name="instagram" placeholder="Twitter URL" [(ngModel)] = "instagram">
      <div>
        <input type="submit" routerLink ="profile" class="button" value="Create Profile" (click)="addItem()">
      </div>
    </div>
  </form>
</div>
<br>

<!-- 
<div class="bucket-container color-dark">
  <div class="col">
    <p> Add a bucket list item</p>
  </div>
  <div class="col">
    <p>Your bucket list ({{ itemCount }})</p>
  </div>
</div>

<div class="container color-light " [@goals]="goals.length">
  <div class="col">
    <p class="sm">Use this forn below to add a new  bucket list goal. What
      do you want to do with your life.
    </p>

    <form>
      <input type="text" class="txt" name="item" placehodler="life goal.." [(ngModel)]="goalText">
      <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let goal of goals" >
      {{ goal }}
    </p>
  </div>


  <div class="col">

    <form>
      <input type="text" class="txt" name="item" placehodler="life goal.." [(ngModel)]="goalText">
      <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
    </form>

    <br><br>

    <form class="form-inline" #form="ngForm">

      <div class="form-group">
        <input type="text" class="txt form-control" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude" required>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude" required>
      </div>

      <input type="submit" class="btn"  [disabled]="form.invalid" (click)="geocodeAddress()" value="Go">
    </form>

  </div>


  <div id="map" class="col" #gmap style="height:400px;">

  </div>
</div>
 -->
