.container{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
.color-light {
    background: linear-gradient(135deg,#29323C,#2B5876,#4E4376);
}
div.centered{
    text-align: center;
}
h1{
    text-align: center;
    margin: 2em;
}
input.text {
    border: 0;
    padding: 1em;
    width: 60%;
    margin-bottom: 2em;
}
input.button {
    border: 0;
    font-size: 14pt;
    padding:1em 3em;
    background: #1A2239    ;
    color:rgb(255, 255, 255);
    margin-bottom:2em;
    cursor:pointer;
}
p.text{
    margin: auto 20%;
    float: left;
}
